<% @tasks.each do |task| %>
  <div>
    <h4>Completed: <%= task.completed %> |
      <%= link_to task.title, task_path(task) %>
    </h3>
   </div>
<% end %>

<p><%= link_to "+ Add new task", new_path %></p>

